tower {
  accessToken = 'eyJ0aWQiOiAxfS44NzhiYTVhNDA3OGVkNDk3NTczNjNmZWM4YTk4NjZkM2YxYzA4ODMx'
  enabled = true
  endpoint = 'http://pnap-tower.tgen.org:8000/api'
}

process {
  executor = 'slurm'
}


profiles {
  noTower {
    tower.enabled = false
  }

  dback {
    process.beforeScript = 'module load Nextflow'
    process.queue = 'gpu-dev'
    process.clusterOptions = ' -c 8 --nodes=1  --ntasks=1 --gres=gpu:1 '
  }

  gemini {
    process.beforeScript = 'module load Nextflow'
    process.queue = 'gpu-scavenge'
    process.clusterOptions = ' -c 8 --nodes=1 --ntasks=1 --gres=gpu:A100:1 '
  }
}

singularity {
  autoMounts = true
  enabled = true
  cacheDir = '/scratch/vpagano/nxf-singularity'
  runOptions = '--nv --bind /scratch --bind /home/tgenref'
}

